{% extends 'base.html.twig' %}

{% block title %}
  Connectez-vous
{% endblock %}

{% block body %}
  <h1>Connexion</h1>

  <form action="/login/validation" method="post">
    <div>
      <label for="username">Username :</label>
      <input type="username" name="username" id="username" />
      <label for="password">Password :</label>
      <input type="password" name="password" id="password" />
    </div>

    <div>
      <input type="submit" value="Connexion" />
    </div>
  </form>
{% endblock %}
